html {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

.head {
  background-image: url(../images/bimg.png);
}

.head h1 {
  font-size: 70px;
  font-weight: bold;
  color: White;
}

.head a {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.supporting h2 {
  font-size: 32px;
  font-weight: bold;
}

.supporting h3 {
  font-size: 23px;
  font-weight: bold;
}

.supporting p {
  font-size: 14px;
}

.designedin {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url(../images/bimg.png);
}



footer {
  text-align: left;
  background-color: dimgray;
  color: white;
  font-size: 11px;
}

footer a {
  color: white;
  font-size: medium;
  font-weight: bold;
}
